body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  line-height: 1.3;
  color: #3d4449;
  font-weight: 700;
}

h2 {
  margin: 6px;
}

@media screen and (max-width: 768px) {
  h1 {
      font-size: 2em;
      line-height: 1.4;
  }
}

header {
  margin-top: 30px;
  margin-bottom: 40px;
}

header p {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase;
}

footer {
  margin-top: 30px;
  padding-top: 50px;
  background-color: #F5F6F7;
}

.header {
  font-family: 'Roboto Slab', serif;
  border-bottom: solid 5px #f56a6a;
  padding: 6em 0 1em 0;
}

.header h2 {
  font-size: 16px;
}

.charts {
  margin-top: -20px
}

.abstButton {
  background-color: rgba(38, 143, 156, 0.3);
  border-radius: 0px;
  border: 0px;
}

.abstButtonSel {
  background-color: rgba(38, 143, 156, 0.9);
}

.abstButton:active,
.abstButton:hover,
.abstButton:focus,
.abstButton::selection,
.abstButton:target {
  background-color: rgba(38, 143, 156, 0.9);
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popButton {
  background-color: rgba(222, 100, 21, 0.3);
  border-radius: 0px;
  border: 0px;
}

.popButtonSel {
  background-color: rgba(222, 100, 21, 0.9);
}

.popButton:active,
.popButton:hover,
.popButton:focus,
.popButton::selection,
.popButton:target {
  background-color: rgba(222, 100, 21, 0.9);
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
};